<body>
  <div class="container">

    <div class="dog-container">
      <div class="char-dog">
        <label class="lbl1">D</label>
        <label class="lbl2">D</label>
      </div>

      <div class="char-dog">
        <label class="lbl1">O</label>
        <label class="lbl2">O</label>
        <img class="dog-img" src="../../assets/DOG.png" alt="dog" />
        <div class="overlay"></div>
      </div>
      <div class="char-dog">
        <label class="lbl1">G</label>
        <label class="lbl2">G</label>
      </div>

    </div>
  </div>


</body>

